*.swp
*.aux
*.log
*.toc
publish/proofing/
publish/epub/
publish/mobi/
publish/pdf/
temp/
auto/
build/latex/book_main.pdf
build/latex/cover_back.pdf
build/latex/cover_spine.pdf
build/latex/cover_spine_west.pdf
build/latex/cover_front.pdf
build/latex/cover.pdf
print-specs.odt
